body {
    background-color: bisque;
    height: auto;
    width: auto;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

#img-box {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 50px;
    background-color: gray;
    background-image: url("shrek_camera_302x200.jpeg");
    background-position: center;
    background-size: cover;
    border: solid 25px blueviolet;
}