body {
    background-color: bisque;
    height: auto;
    width: auto;
}

input, input::placeholder {
    font-weight: bold;
    color: black;
}

input:focus::placeholder {
    color: transparent;
}

#img-box {
    position: absolute;
    margin-top: 50px;
    width: 300px;
    height: 200px;
    left: 50px;
    background-color: gray;
    background-image: url("shrek_camera_302x200.jpeg");
    background-position: center;
    background-size: cover;
    border: solid 25px gray;
    border-image: url(border_04.jpg);
    border-image-slice: 25%;
    border-image-repeat: stretch;
}

img {
    overflow: hidden;
}