body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(175, 210, 238);
}

h1, p, form {
    padding-left: 40px;
}

input, input::placeholder {
    font-weight: bold;
    color: black;
}

input:focus::placeholder {
    color: transparent;
}

a {
    font: Arial;
    font-size: 14px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: black;
    padding: 2px 6px 2px 6px;
    border: solid 1px gray;
    border-radius: 3px;
  }

#img-box {
    position: absolute;
    margin-top: 150px;
    width: 300px;
    height: 200px;
    left: 40px;
    background-color: gray;
    background-image: url("shrek_camera_302x200.jpeg");
    background-position: center;
    background-size: cover;
    border: solid 25px gray;
    border-image: url(border_04.jpg);
    border-image-slice: 25%;
    border-image-repeat: stretch;
}

img {
    overflow: hidden;
}